<div class="left-sidebar" role="navigation" aria-label="Site navigation">
  <h3><strong>SITE NAVIGATION</strong></h3>
  <ul>
    <li><a href="https://hiredale.com">Home</a></li>
  </ul>

  <!-- WORK SAMPLES -->
  <h4><strong>Work Samples</strong></h4>
  <ul>
    <li><a href="/daleydose/">Product Overview</a></li>
    <li><a href="/daleydose/help-files">Help Files</a></li>
    <li><a href="/daleydose/release-notes-v1.4">Release Notes</a></li>
    <li><a href="/daleydose/release-note-version-history">Version History</a></li>
    <li>API Documentation</li>
    <li>Misc Guides</li>
  </ul>

  <!-- EXPERIENCE OVERVIEW -->
  <h4><strong>Experience Overview</strong></h4>
  <ul>
    <li><a href="/day-to-day">Responsibilities</a></li>
    <li><a href="/why-hire-me">Why Hire Me</a></li>
  </ul>
</div>
