<div class="left-sidebar">
  <h3><strong>SITE NAVIGATION</strong></h3>
  <ul>
    <li><a href="https://hiredale.com">Home</a></li>
  </ul>

  <!-- FEATURED -->
  <p><strong>Experience Overview</strong></p>
  <ul>
    <li><a href="/day-to-day">Responsibilities</a></li>
    <li><a href="/why-hire-me">Why Hire Me</a></li>
    <li>Resume</li>
  </ul>

  <!-- WRITING SAMPLES -->
  <p><strong>Work Samples</strong></p>
  <ul>
    <li><a href="/daleydose/help-files">Help Files</a></li>
    <li><a href="/daleydose/release-notes-v1.4">Release Notes</a></li>
    <li><a href="/daleydose/">Daley Dose</a></li>
    <li>Sample API Documentation</li>
    <li>Troubleshooting Guides</li>
    <li><a href="/day-to-day">Day-to-Day Responsibilities</a></li>
    <li><a href="/why-hire-me">Why Hire Me</a></li>
  </ul>
</div>
